.imagem2{
    background-image: url(https://tinypic.host/images/2023/03/05/pexels-lukas-574071-1.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
    color: white !important;
    border: 1px solid black !important;
    background-color: black;
    padding: 10px;
}

.btnCancelar{
    margin-right: 20px !important;
    background-color: #A40606 !important;
}
.btnCad{
    margin-right: 20px !important;
    background-color: hsl(126, 100%, 36%) !important;

}
.cadastro1{
    background: #323232; background: -moz-linear-gradient(-146deg,  #323232 0%,#4b4b4b 48%,#1c1c1c 100%); background: -webkit-linear-gradient(-146deg,  #323232 0%,#4b4b4b 48%,#1c1c1c 100%); background: linear-gradient(-146deg,  #323232 0%,#4b4b4b 48%,#1c1c1c 100%);
}