
.corlogo{
    color: rgb(0, 0, 0);
    width: 2rem;
    height: 2rem;
}
.caixa{
    background: #323232; background: -moz-linear-gradient(-146deg,  #323232 0%,#4b4b4b 48%,#1c1c1c 100%); background: -webkit-linear-gradient(-146deg,  #323232 0%,#4b4b4b 48%,#1c1c1c 100%); background: linear-gradient(-146deg,  #323232 0%,#4b4b4b 48%,#1c1c1c 100%);
    font-size: 1rem;
    display: flex !important;
    
}
.titulo{
    color: white !important;
    font-weight: bold !important;
    font-size: 3rem;
    display: flex !important;
   
}
.titulo2{
    color: white !important;
    font-weight: bold !important;
    font-size: 1rem;
    display: flex !important;

}
.botao1{
    border-color: white!important;
    background-color: black !important;
    color: white !important;
}
.botao2{
    border-color: white !important;
    background-color: black !important;
    color: white !important;
}
.postagens{
    background: #323232; background: -moz-linear-gradient(-146deg,  #323232 0%,#4b4b4b 48%,#1c1c1c 100%); background: -webkit-linear-gradient(-146deg,  #323232 0%,#4b4b4b 48%,#1c1c1c 100%); background: linear-gradient(-146deg,  #323232 0%,#4b4b4b 48%,#1c1c1c 100%);
}
