.box1{
    background-color: #3F51B5;
    height: "120px";
    color:white !important;
}
.box2{
background-color: #303F9F;
color: white !important;

}

.redes{

    font-size: 60px !important;
    color: white !important;
}
.textos{
    color: white !important;
}
